root{
    flex-grow: 1;
    margin-bottom: 7rem;
}

AppBar{
    background-color: #033E8C;
    box-shadow: none;  
}
item{
    align-items: center;
}

search{
    background-color: #033E8C;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

ToolBar{
    justify-content: flex-start;
}

grow{
    flex-grow: 1;
}

menuButtom{
    margin-right: spacing(2);
}
