@tailwind base;

:root {
    --primary: cornflowerblue;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    /* background-color: var(--primary); */
    border-radius: 5px;
  }

  
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');